#logo-container a:hover {
    animation: 1.5s icon-dance 1 both;
    animation-delay: 0s;
}

#home::after {
    content: '';
    position: fixed;
    top: 1.75rem;
    right: 303.5px;
    width: 48px;
    height: 1px;
    background-color: aliceblue;
    transform-origin: bottom right;
    transition: transform .25s ease-out;
    transform: scaleX(0);
    z-index: 3;
}

#home:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#projects::after {
    content: '';
    position: fixed;
    top: 1.75rem;
    right: 210px;
    width: 63px;
    height: 1px;
    background-color: aliceblue;
    transform-origin: bottom right;
    transition: transform .25s ease-out;
    transform: scaleX(0);
    z-index: 3;
}

#projects:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#about::after {
    content: '';
    position: fixed;
    top: 1.75rem;
    right: 105px;
    width: 76.5px;
    height: 1px;
    background-color: aliceblue;
    transform-origin: bottom right;
    transition: transform .25s ease-out;
    transform: scaleX(0);
    z-index: 3;
}

#about:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#contact::after {
    content: '';
    position: fixed;
    top: 1.75rem;
    right: 15px;
    width: 59.5px;
    height: 1px;
    background-color: aliceblue;
    transform-origin: bottom right;
    transition: transform .25s ease-out;
    transform: scaleX(0);
    z-index: 3;
}

#contact:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#latest-projects-header span a::after {
    content: '';
    position: absolute;
    top: 62.75rem;
    right: 14px;
    width: 117px;
    height: 1px;
    background-color: blue;
    transform-origin: bottom right;
    transition: transform .25s ease-out;
    transform: scaleX(0);
    z-index: 0;
}

#latest-projects-header span a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@keyframes icon-dance {
    0% {
        transform: skewX(0deg);
    }
    25% {
        transform: skewX(25deg);
    }
    50% {
        transform: skewX(-25deg);
    }
    75% {
        transform: skewX(25deg);
    }
    100% {
        transform: skewX(0deg);
    }
}

@keyframes appear {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1;   
    }
}

.fade, #mixed-messages-para, #responsive-web-para, #mixed-messages-preview, #responsive-web-preview, #divider{
    animation: 3s appear both 1;
}

@media only screen and (max-width: 752px) {
    #latest-projects-header span a::after {
        top: 60.35rem;
    }
}

@media only screen and (max-width: 609px) {
    #latest-projects-header span a::after {
        top: 66.75rem;
    }
}

@media only screen and (max-width: 443px) {
    #home::after {
    top: 1.75rem;
    right: 219px;
}
    
    #projects::after {
    top: 1.75rem;
    right: 150.6px;
}
    
    #about::after {
    top: 1.75rem;
    right: 70px;
}
    
    #contact::after {
    content: '';
    position: fixed;
    top: 1.75rem;
    right: 3.8px;
}
    
}