#home::after {
    content: '';
    position: fixed;
    top: 1.75rem;
    right: 280px;
    width: 43px;
    height: 1px;
    background-color: aliceblue;
    transform-origin: bottom right;
    transition: transform .25s ease-out;
    transform: scaleX(0);
    z-index: 3;
}

#home:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#projects::after {
    content: '';
    position: fixed;
    top: 1.75rem;
    right: 195.5px;
    width: 55px;
    height: 1px;
    background-color: aliceblue;
    transform-origin: bottom right;
    transition: transform .25s ease-out;
    transform: scaleX(0);
    z-index: 3;
}

#projects:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#about::after {
    content: '';
    position: fixed;
    top: 1.75rem;
    right: 97px;
    width: 69px;
    height: 1px;
    background-color: aliceblue;
    transform-origin: bottom right;
    transition: transform .25s ease-out;
    transform: scaleX(0);
    z-index: 3;
}

#about:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#contact::after {
    content: '';
    position: fixed;
    top: 1.75rem;
    right: 14px;
    width: 53px;
    height: 1px;
    background-color: aliceblue;
    transform-origin: bottom right;
    transition: transform .25s ease-out;
    transform: scaleX(0);
    z-index: 3;
}

#contact:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#latest-projects-header span a::after {
    content: '';
    position: absolute;
    top: 62.75rem;
    right: 14px;
    width: 107px;
    height: 1px;
    background-color: blue;
    transform-origin: bottom right;
    transition: transform .25s ease-out;
    transform: scaleX(0);
    z-index: 0;
}

#latest-projects-header span a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#mixed-messages-para, #responsive-web-para, #mixed-messages-preview, #responsive-web-preview, #divider{
    animation: 3s appear both 1;
}