/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

#logo-container a:hover {
    -webkit-animation: 1.5s icon-dance 1 both;
            animation: 1.5s icon-dance 1 both;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

#home::after {
    content: '';
    position: fixed;
    top: 1.75rem;
    right: 303.5px;
    width: 48px;
    height: 1px;
    background-color: aliceblue;
    -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transition: -webkit-transform .25s ease-out;
    transition: -webkit-transform .25s ease-out;
    -o-transition: transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    z-index: 3;
}

#home:hover::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
}

#projects::after {
    content: '';
    position: fixed;
    top: 1.75rem;
    right: 210px;
    width: 63px;
    height: 1px;
    background-color: aliceblue;
    -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transition: -webkit-transform .25s ease-out;
    transition: -webkit-transform .25s ease-out;
    -o-transition: transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    z-index: 3;
}

#projects:hover::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
}

#about::after {
    content: '';
    position: fixed;
    top: 1.75rem;
    right: 105px;
    width: 76.5px;
    height: 1px;
    background-color: aliceblue;
    -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transition: -webkit-transform .25s ease-out;
    transition: -webkit-transform .25s ease-out;
    -o-transition: transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    z-index: 3;
}

#about:hover::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
}

#contact::after {
    content: '';
    position: fixed;
    top: 1.75rem;
    right: 15px;
    width: 59.5px;
    height: 1px;
    background-color: aliceblue;
    -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transition: -webkit-transform .25s ease-out;
    transition: -webkit-transform .25s ease-out;
    -o-transition: transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    z-index: 3;
}

#contact:hover::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
}

#latest-projects-header span a::after {
    content: '';
    position: absolute;
    top: 62.75rem;
    right: 14px;
    width: 117px;
    height: 1px;
    background-color: blue;
    -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transition: -webkit-transform .25s ease-out;
    transition: -webkit-transform .25s ease-out;
    -o-transition: transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    z-index: 0;
}

#latest-projects-header span a:hover::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
}

@-webkit-keyframes icon-dance {
    0% {
        -webkit-transform: skewX(0deg);
                transform: skewX(0deg);
    }
    25% {
        -webkit-transform: skewX(25deg);
                transform: skewX(25deg);
    }
    50% {
        -webkit-transform: skewX(-25deg);
                transform: skewX(-25deg);
    }
    75% {
        -webkit-transform: skewX(25deg);
                transform: skewX(25deg);
    }
    100% {
        -webkit-transform: skewX(0deg);
                transform: skewX(0deg);
    }
}

@keyframes icon-dance {
    0% {
        -webkit-transform: skewX(0deg);
                transform: skewX(0deg);
    }
    25% {
        -webkit-transform: skewX(25deg);
                transform: skewX(25deg);
    }
    50% {
        -webkit-transform: skewX(-25deg);
                transform: skewX(-25deg);
    }
    75% {
        -webkit-transform: skewX(25deg);
                transform: skewX(25deg);
    }
    100% {
        -webkit-transform: skewX(0deg);
                transform: skewX(0deg);
    }
}

@-webkit-keyframes appear {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1;   
    }
}

@keyframes appear {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1;   
    }
}

.fade, #mixed-messages-para, #responsive-web-para, #mixed-messages-preview, #responsive-web-preview, #divider{
    -webkit-animation: 3s appear both 1;
            animation: 3s appear both 1;
}

@media only screen and (max-width: 752px) {
    #latest-projects-header span a::after {
        top: 60.35rem;
    }
}

@media only screen and (max-width: 609px) {
    #latest-projects-header span a::after {
        top: 66.75rem;
    }
}

@media only screen and (max-width: 443px) {
    #home::after {
    top: 1.75rem;
    right: 223px;
}
    
    #projects::after {
    top: 1.75rem;
    right: 153.6px;
}
    
    #about::after {
    top: 1.75rem;
    right: 74px;
}
    
    #contact::after {
    content: '';
    position: fixed;
    top: 1.75rem;
    right: 7.8px;
}
    
}