
body {
  display: flex;
  width: 100%;
  background-color: rgba(255, 149, 0, .3);
}

section {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 4.5rem 0rem 4.5rem 3rem;
  min-height: fit-content;
}

#contact-info h2 {
  margin-bottom: 2rem;
}

#contact-info {
  border-right: 3px double rgb(255, 149, 0);
}

section img{
  max-width: 28rem;
  max-height: 35rem;
  border-radius: 5rem;
  align-self: center;
  margin-right: 3rem;
}

section ul {
  list-style-type: none;
  align-self: center;
  margin: 0rem 3rem 0 0;
}

section span {
  font-weight: bold;
  text-decoration: underline;
}

section li {
  margin-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  margin-right: 3rem;
}

input {
  width: 20rem;
  border-color: rgb(255, 149, 0);
}

#phone {
  width: 17rem;
}

input, textarea {
  margin-bottom: 2rem;
  border-color: rgb(255, 149, 0);
}

#attachment {
  margin-bottom: 0;
}

#submit {
  align-self: center;
  width: fit-content;
  padding: 1rem 2rem;
  color: aliceblue;
  background-color: rgb(255,90,8);
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 2rem;
  margin-top: 2rem;
}

#submit:hover {
  position: relative;
  cursor: pointer;
  border: 2px outset rgb(255,191,0);
  margin-top: 28px;
  top: 2px;
}

#submit:active {
  border: none;
  margin-top: 2rem;
  position: static;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 1.5rem;
}

footer span {
  margin: 0;
}

#thanks {
  align-self: center;
  margin: auto 0;
}

@media only screen and (max-width: 920px) {
  body {
    flex-direction: column;
    align-items: center;
  }
  
  section {
    width: 100%;
  }
  
  h2 {
    text-align: center;
  }
  
  section, section img {
    margin-left: 0;
    margin-right: 0;
  }
  
  #contact-info {
    border-right: none;
    border-bottom: 3px double rgb(255, 149, 0);
    padding-bottom: 3rem;
    margin-bottom: 0rem;
  }
  
  #contact-info ul {
    margin: 0;
  }
  
  #leave-message {
    margin-top: 3rem;
  }
  
  #leave-message h2 {
    margin-bottom: 2rem;
  }
  
  form {
    align-items: start;
    margin: 0 auto;
  }
  
  textarea {
    width: 20rem;
  }
  
  #leave-message #thanks {
    margin: 0;
  }
  
}

@media only screen and (max-width: 443px) {
  section img {
    max-height: 28rem;
  }
}